<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{{.Title}}</title>
</head>

<body>
<h1>{{.Title}}</h1>
<hr/>
<div>{{.Message}}</div>
<div>現在の時刻は {{.Now}} です</div>

<hr/>

{{/* 条件分岐テスト */}}

{{if eq .Action "start"}}
<div><a href="./regist">登録</a></div>
{{end}}

{{if eq .Action "regist"}}
<div>登録しました。</div>
{{end}}


<br/>
<a href="../">メニューに戻る</a>

</body>
</html>
