<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{{.Title}}</title>
</head>

<body>
<h1>{{.Title}}</h1>
<hr/>
<div>{{.Message}}</div>
<div>現在の時刻は {{.Now}} です</div>
<hr/>

<a href="./st0101/start">st0101</a>

</body>

</html>
